# Kaggle Notebook core training environment snapshot:
# Python: 3.12.12/3.12.13
# Torch: 2.10.0+cu128
# Torch CUDA runtime: 12.8
# cuDNN reported by torch: 91002

--extra-index-url https://download.pytorch.org/whl/cu128

torch==2.10.0+cu128
torchvision==0.25.0+cu128
torchaudio==2.10.0+cu128
#使用与kaggle对齐的环境

# prog1
numpy
pandas
scikit-learn
openpyxl

# prog2
matplotlib
tqdm

# prog3
scikit-image

# prog4
tensorboard

# prog5 不在本地跑，暂时注释掉
#ultralytics>=8.3.0
